:root {
  --violet: #4d1d95dc;
}

* {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 4rem;
  width: 100vw;
  background-color: var(--violet);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  opacity: 0.95;
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

footer {
  background-color: var(--violet);
  margin-top: auto;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-link {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  color: white;
}
