* {
  margin: 0;
}

header {
  height: 4rem;
  width: 100vw;
  background-color: rgb(0, 174, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
