:root {
  --violet: #4d1d95dc;
}

* {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 4rem;
  width: 100vw;
  background-color: var(--violet);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  opacity: 0.95;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

footer {
  background-color: var(--violet);
  margin-top: auto;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-link {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration-thickness: 4px;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s;
}

.github-link:hover {
  text-decoration-color: white;
}

.addBookButton {
  height: 50px;
  width: 50px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--violet);
  color: white;
  border-color: transparent;
}

.addBookButton:hover {
  cursor: pointer;
  opacity: 0.9;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

form > input {
  margin-bottom: 10px;
}

form > div > input {
  height: 1.2rem;
  width: 1.2rem;
  margin-bottom: 20px;
}
